.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 52, 112, 0.514);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  max-width: 30%;
  margin: 0 auto;
  margin-top: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin: 0;
}

.card-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-list li {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.5;
}

.card-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

nav {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.home-page-dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-page-dogs img {
  margin: 5px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}